[init]
	defaultBranch = master
[user]
	name = jinzaizhichi
	email = jinzaizhichi9888@gmail.com
	signingkey = jinzaizhichi9888@gmail.com
	token = {{pass "github/api/token"}}
[commit]
	gpgsign = true
[core]
	editor = "nvim"
	autocrlf = true
  filemode = true
